/*Question size*/

#questionToA {
    font-size: 25px;
}


/*Login bbt*/

#loginBtt {
    margin: 8px;
}


/*Register btt*/

#registerBtt {
    margin: 8px;
}


/*Size icon footers*/

#sizeIcon {
    font-size: 50px;
    margin: 8px;
}