/*Body color*/

body {
    background-color: rgb(255, 160, 122);
}


/*Question size*/

#questionToA {
    font-size: 25px;
}


/*Size icon footers*/

#social {
    font-size: 50px;
    margin: 8px;
}


/*Size icon footers*/

#sizeIcon {
    font-size: 50px;
    margin: 8px;
}


/*Div with stats*/

#divHigher {
    color: white;
    margin-top: 8px;
}


/*Shadow in stats*/

#stats {
    text-shadow: 2px 2px 4px rgb(255, 160, 122);
    color: white;
}


/*Copyright text*/

#copyRightT {
    color: white;
}