/*Body color*/

body {
    background-color: #314F6B;
}


/*Question size*/

#questionToA {
    font-size: 25px;
}


/*Size icon footers*/

#social {
    font-size: 50px;
    margin: 8px;
}


/*Size icon footers*/

#sizeIcon {
    font-size: 50px;
    margin: 8px;
    color: #042357;
}


/*Div with stats*/

#divHigher {
    background-color: #042357;
    text-shadow: 2px 2px 4px rgb(255, 160, 122);
    color: white;
    text-align: center;
    align-items: center;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}


/*Shadow in stats*/

#stats {
    text-shadow: 2px 2px 4px rgb(255, 160, 122);
    background-color: #042357;
    color: white;
    border-color: #0B0E29;
    border-style: solid;
    border-radius: 2px;
}


/*Copyright text*/

#copyRightT {
    color: white;
}


/*Timer style*/

#timerGame {
    background-color: #042357;
    color: white;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}


/*Btts style*/

#bttOne {
    background-color: #32456B;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}

#bttTwo {
    background-color: #32456B;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}

#bttThree {
    background-color: #32456B;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}

#bttFourth {
    background-color: #32456B;
    border-color: #0B0E29;
    border-style: solid;
    border-width: 2px;
}


/*Question*/

#questionToA {
    color: white;
}