/*Body color*/

body {
    background-color: #314F6B;
}


/*Login bbt*/

#loginBtt {
    margin: 8px;
}


/*Register btt*/

#registerBtt {
    margin: 8px;
}


/*Size icon footers*/

#sizeIcon {
    font-size: 50px;
    text-decoration: none;
    margin: 8px;
    color: #042357;
}


/*Login Btt style*/

#loginBtt {
    background-color: #042357;
    color: white;
    border: #042357;
}


/*Register btt style*/

#registerBtt {
    background-color: #042357;
    color: white;
    border: #042357;
}


/*Copyright text*/

#copyRightT {
    color: white;
}


/*Style for the register and login tab*/

#home-tab {
    color: #042357;
}

#profile-tab {
    color: #042357;
}